/* ...............................hero start ................................ */
.hero {
    /* border: 1px solid wheat; */
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 50vh;
    padding-top: 50px;
}

.prt1 {
    /* border: 1px solid wheat; */
    border-radius: 30px;
    padding: 12px 16px;
    background-color: rgb(31, 38, 88);
}

.prt11 {
    background: linear-gradient(279.69deg, #01A998 0%, #388BC6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700px;
    font-size: 72px;
}

.prt3 {
    text-align: center;
    color: #B6B8BC;
    width: 40%;

}

.contact-btn2 {
    border: 1px solid wheat;
    padding: 20px 24px;
    border-radius: 30px;
    width: 185px;
    height: 68px;
    background: linear-gradient(to bottom, #9900ff 0%, #3871c6 100%);
    color: white;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:769px) {
    .hero {
        /* border: 1px solid wheat; */
        justify-content: center;
        align-items: center;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 80vh;
        /* padding-top:50px ; */
    }

    .prt1 {
        /* border: 1px solid wheat; */
        border-radius: 30px;
        font-size: 11px;
        padding: 8px 12px;
        background-color: rgb(31, 38, 88);
        justify-content: center;
        align-items: center;
    }

    .prt11 {
        color: rgb(73, 83, 51);
    }

    .prt2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-weight: 700px;
        font-size: 36px;
        padding: auto;
    }

    .prt3 {
        width: 80%;
        text-align: center;
        color: B6B8BC;

    }

    .contact-btn2 {
        border: 1px solid wheat;
        padding: 20px 24px;
        border-radius: 30px;
        width: 185px;
        height: 68px;
        background: linear-gradient(to bottom, #9900ff 0%, #3871c6 100%);
        color: white;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    a {
        text-decoration: none;
        color: white;
    }

}

/* ...............................hero start ................................ */

/* ..................................banner start...................  */
.banner {
    justify-content: center;
    align-items: center;
    margin-top: 60PX;
    margin-bottom: 30PX;
}

/*.................................. banner end ........................ */
/* ................................compANY TAG SATRT ................ */
.c-tag {
    width: 1446px;
    height: 138px;
    top: 1139px;
    gap: 56px;
    opacity: 0px;
    background-color: #0C111F;
    justify-content: center;
    align-items: center;
}

.c-tag2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 80px;
}

.c-tag3 {
    display: none;
}

/* ..................................compANY TAG END....................  */
/* ....................................title start.....................  */
/* .title {
    /* display: flex;
    justify-content: center;
    align-items: center; 
    }*/

.t-prt1 {
    font-size: 72px;
    font-weight: 700px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60PX;
    margin-bottom: 0%;
}

.spn {
    margin-left: 10px;
    background: linear-gradient(279.69deg, #01A998 0%, #388BC6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {
    display: flex;
    justify-content: space-between;
    /* gap: 30px;    */
    align-items: center;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
}

.box1 {
    width: 308px;
    height: 398px;
    background-color: #151D58;
    /* margin: 255px 135px; */
    position: relative;
    border: 3px solid #38C6BF;
    border-radius: 16px;
    background: linear-gradient(#0C1554, #250032);
    background-clip: padding-box;
    /* padding: 10px; */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    justify-content: center;
    align-items: center;
}

.box2 {
    width: 360px;
    height: 506px;
    background-color: #151D58;
    /* margin: 255px 135px; */
    position: relative;
    border: 3px solid #38C6BF;
    border-radius: 16px;
    background: linear-gradient(#0C1554, #250032);
    background-clip: padding-box;
    /* padding: 10px; */
    box-shadow: 12px 12px 6px #38C6BF, inset 0 0 9px #38C6BF;
}

.box3 {
    width: 308px;
    height: 398px;
    background-color: #151D58;
    /* margin: 255px 135px; */
    position: relative;
    border: 3px solid #38C6BF;
    border-radius: 16px;
    background: linear-gradient(#0C1554, #250032);
    background-clip: padding-box;
    /* padding: 10px; */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
}

.box11 {
    width: 266px;
    height: 239px;
    rotate: 7;
}

.box12 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 29px;
}

.box13 {
    color: #B9BABB;
    text-align: center;
    font-weight: 200;
    margin: 8px;
    font-size: 9px;
}

.box22 {
    display: flex;
    margin-left: 45px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 266px;
    height: 239px;
    rotate: 7;
}

.box23 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 0%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box24 {
    font-size: 11px;
    font-weight: 400;
    color: #B9BABB;
    /* align-items: center; */
    text-align: center;
    margin: 50px;
    margin-top: 30px;
}

.box31 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 239px;
    rotate: 7;
}

.box32 {
    font-size: 29px;
    font-weight: 700;
    color: #ffff;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box33 {
    color: #B9BABB;
    text-align: center;
    font-weight: 200;
    margin: 8px;
    font-size: 9px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #38C6BF;
    margin-top: 100px;
    padding: 0;
}

/* ...............................title end................................  */
/* ................................acvhieve start...............................  */
.achv {
    margin-top: 232px;

}

.achv1 {
    font-size: 46px;
    font-weight: 500;
    color: white;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: justify;
}

.achv2 {
    width: 1280px;
    height: 181px;
    top: 362px;
    left: 103px;
    padding: 32px 0px 0px 0px;
    gap: 10px;
    border-radius: 20px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background: linear-gradient(279.69deg, #5C1ADF 0%, #0158AA 100%);
}

.achv21 {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 160px;
    text-align: center;
}

.achv211 {
    font-size: 72px;
    font-weight: 700;

}

.achv212 {
    font-size: 24px;
    font-weight: 200px;
}

.achv222 {
    font-size: 72px;
    font-weight: 700;
}

.achv215 {
    font-size: 24px;
    font-weight: 200px;
}

.achv223 {
    font-size: 72px;
    font-weight: 700;
}

.achv216 {
    font-size: 24px;
    font-weight: 200px;
}

.achv224 {
    font-size: 72px;
    font-weight: 700;
}

.achv218 {
    font-size: 24px;
    font-weight: 200px;
}

/* ................................acvhieve start...............................  */
/* .................................l-page start.................................. */
.l-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.l-page1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
}

.l-2 {
    background: linear-gradient(279.69deg, #0A958E 0%, #0627FD 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.l-page2 {
    font-size: 22px;
    font-weight: 500;
    color: #B6B8BC;
    width: 60%;
    text-align: center;
}

.l-page3 {
    width: 739px;
    height: 65px;
    border: 1px solid wheat;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 55px;
    background-color: white;
}

.l-page4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #6D7079;
    gap: 70px;
}

.l-3 {
    border: 1px solid rgb(87, 146, 201);
    border-radius: 30px;
    height: 35px;
    width: 135px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(279.69deg, #1C3EE8 0%, #5C38C6 100%);
    color: white;
}

.l-4 {
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card-1 {
    width: 530px;
    height: 650px;
    background-color: #181D2A;
    border: 1px solid #3D414C;
    padding: 14px;
    margin: 30px;
    margin-left: 10%;
    border-radius: 28px;
    /* margin-right: 0; */
    position: relative;

}

.card-11 {
    color: white;
}

.card-12 {
    color: #B6B8BC;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    margin-top: 20px;
}

.card-2 {
    width: 530px;
    height: 650px;
    background-color: #181D2A;
    border: 1px solid #3D414C;
    padding: 14px;
    margin: 30px;
    margin-left: 10%;
    border-radius: 28px;
    /* position: relative; */
    margin: 20px;
}

.card-21 {
    color: white;
}

.card-22 {
    color: #B6B8BC;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    margin-top: 20px;
}

/* .................................l-page start.................................. */
/*.................................. contact page .................................. */
.contt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.main-txt {
    color: white;
}

.main-txt1 {
    color: #B6B8BC;
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.r-form{
    width: 549px;
    height: 746px;
    border: 1 px solid wheat;
    float: right;
    background-color: #0F1A30;
    border-radius:4px ;
    margin-right:30px;
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 10%;
}
.hdr{
    font-size: 36px;
    font-weight: 800;
    color: #00AAFF;
    margin: auto;
}
.lines{
    font-size: 16px;
    font-weight: 400;
    color: #475569;
    line-height: 19px;
    margin-top: 20px;
    justify-content: center;
    
}
.inpt{
    display: flex;
    flex-direction: column;
    
}
.inpt1{
    display: flex;
    flex-direction: column;
}
.inpt1{
    display: flex;
    flex-direction: column;
}
.inpt2{
    display: flex;
    flex-direction: column;
}
.inpt3{
    display: flex;
    flex-direction: column;
    
}
.submit{
    width: 200px;
    height: 51px;
    border: 1px solid #5380EA;
    border-radius: 100px;
    padding: 15px 31px;
    color: white;
    font-size: 18px;
    margin-top: 50px;
    background: linear-gradient(90deg, #0A2462 0%, #2E5AC2 100%);

}
/*.................................. contact page .................................. */